@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.redressed {
	font-family: 'Redressed', cursive;
}
/* body .section {
	background-color: #c4b2a2;
} */

.merriweather {
	font-family: 'Merriweather', serif;

}

.cc-navbar {
	background-image: url('../img/Design sans titre .png')  ;
	background-size: 100%;
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	
	height: 70px;
	
}

.cc-navbar .navbar-nav .nav-link {
	color: rgb(240, 244, 245);
	text-decoration: none;
	display: inline-block;
	padding-left: 40px;
	font-weight: 500;
    cursor: pointer;
	font-size: 16px;
}

.cc-navbar .navbar-nav {
	padding-left: 600px;
}



.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Carousel/20230121_135710.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.nav-link {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: rgb(62, 246, 87) !important;
	background-color: transparent;
}
.footer-16371{
	background-color: rgb(40, 35, 35);
}

.footer-16371 .nav-links li a {
	color: #9f9d9b; /* Remplacez #ff0000 par la couleur de votre choix */
	text-decoration: none;
}
.footer-16371 .nav-links li a:hover {
	color: #bb620f; /* Remplacez #ff0000 par la couleur de votre choix */
}
.form  {
	color: #5e5e5e;
	font-family: 'arial',sans-serif;
	padding: 20px 50px 0px  20px;
	font-size: 15px;
}
.testimonial{
	color: #5e5e5e;
	font-family: 'arial';
	font-size: 16px;
}

.bubble-message, .bubble, .newsletter-text {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	display: inline-block;
	margin-left: 20px;
	
  }
  .newsletter-text{
	font-family: 'arial';
	font-size: 20px;
	padding:15px 20px 10px 40px;
	color: #5e5e5e;
	width: 100%;
	position: relative;
	margin-top: 30px;
  }
  .bubble-message{
	width: 400px; 
	padding-left: 30px;
  }
  .bubble{
	padding: 20px 50px 0px  20px;
	margin-left: 20px;
	width: 400px; 
  }
  .bubble ul li {
	color: #5e5e5e;
	
  }
  .bubble ul li:hover{
	color: #DE7A1E;
  }

  .bubble-message::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px; /* Moitié de la largeur du triangle (8px dans votre exemple) */
	
	border-width: 15px;
	border-style: solid;
	border-color: #eee7e7 transparent transparent ;
  }
  
  .newsletter-title{
	color: #111111;
	font-family: 'arial';
	font-weight: 700;
	font-size: 19px;
	padding: 0px 50px 0px  20px;
	
 }
 input[type=email],
 input[type=subject],
 input[type=message],
 input[type=text]
 {
	
    outline: 0;
    line-height: 1;
    width: 100%;
    font-size: 100%;
    margin: 0;
    height: 40px;
    vertical-align: baseline;
	margin-top: 20px;
    transition: .2s all cubic-bezier(.4,0,.2,1);
    border-radius: 10px;
 }
 .newsletter-container{
	
	margin-left: 90px;
  }
  
  .newsletter-container .card h3{
	font-weight: 700;
	color: #111111;
	font-family: 'arial';
	font-size: 26px;
	display: block;
    
    
  }
  .container_slider{
	
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom: 40px;
  }

 
  
  .img-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	border-radius: 10px;
	margin: 0px 40px 0px 40px;
  }
  
  
  .testimonial-item .img {
	border-radius: 20px;
    padding: 10px;
	height: 150px;
	width: 280px;
    
  
  }
  .testimonial-item {
	background-color: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	display: flex;
	flex-direction: column; 
	margin: 0px 10px 10px 10px;
	align-items: center; 
	
  }
 .table-secondary{
	margin: 0px 10px 10px 10px;
	display: flex;
 }
  .testimonial-description {
	padding-left: 15px;;
	padding-top: 10px, 0,0;
	font-family:  'popins';
	color: #5e5e5e;
	
	font-size: 16px;
  }
  
  .testimonial-section {
	background-color: #f4ebe4;
	padding: 10px;
	border-radius: 10px;
	
  }
  .inscription-link{
	background-color: #bb620f;
	color: #fff;
	padding: 10px 20px;
    border-radius: 15px;
     
	text-align: center;
	
 }
 .inscription-link a{
	text-decoration: none;
	
 }
 .inscription-link:hover {
	background-color: hsl(29, 96%, 61%);
	color: #fff;
	text-decoration: none;
  }
  .rejoindre-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #bb620f;
	color: #fff;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	width: 300px;
	margin-left: 40px;
	margin-bottom: 10px;
	
  }
  .rejoindre-link a{
    text-decoration: none;
  }
  .rejoindre-link:hover {
	background-color: hsl(29, 96%, 61%);
	color: #fff;
	text-decoration: none;
  }


  button[type=submit] {
    background: #DE7A1E;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.mt-5{
margin-bottom: 10px;
}
.contact .info i {
    font-size: 20px;
    color: #34b7a7;
    float: left;
    width: 44px;
    height: 44px;
    background: #effbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info {
    width: 100%;
	
}
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555555;
	margin-bottom: 10px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
}
.contact{
	margin-top: 60px;
}
.section-title h2,h3 {
	/* text-decoration: underline #20c997 ; */
    font-size: 32px;
	filter: saturate(1.5);
    font-weight: bold;
	font-family: 'popins';
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
	text-align: center;
}

.section{
	margin-top: 170px;
}
.top{
margin-top: 70px;
}

.list-unstyled  li{
	display: inline-block;
	padding-left: 11px;
	margin-top: 50px;
	
}
.list-unstyled  li a{
	color: #222222;
}
footer{
	background-color: #EEEDE7;
}
.social .fa-brands {
	margin-right: 10px;
}
.title{
	color: #111111;
	font-family: 'arial';
	font-size:  18px;
	font-weight: bold;
}
.fixed-content {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px;
    width: 330px;
    max-width: 330px;
	padding-left: 26px;
    margin-top: 200px;
	margin-left: 30px;
}


h3{
	color: #000000;
    font-family: 'arial';
	font-weight: 500;
	font-size: 30px;
}
.section{
	margin-top: 50px;
}
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card_table{
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
  
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.form_next{
	padding-left: 150px;
}
.ht{
	width: 190px;
	margin-left: -110px;
}
.overlay {
	
	width: 50px; 
	border-radius: 20px;
	height: 200px; 
	background-color: #eee7e7;
	

  }
  
  .overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
  }
  
  .overlay h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(31, 28, 28);
	font-size: 17px; 
	font-family: arial;
	text-align: center;
  }
  body {
	padding-top: 70px; /* Ajoutez un espace vide au-dessus du contenu pour compenser la hauteur du header fixe */
}
.cc-navbar {
	background-color: transparent !important; /* Rendre l'arrière-plan du header transparent */
}
.cc-navbar.fixed-top {
	position: fixed; /* Fixer le header en haut de la page */
	top: 0;
	width: 100%;
	z-index: 100;
}
.carousel-item img {
	width: 100%;
	height: 500px;
	margin: auto;
}
.photo-container {
	display: flex;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	display: inline-block;
	margin-left: 20px;
	padding: 10px 0 10px 0;
  }
  
  .photo-container img {
	width: 80px; 
	height: 60px; 
	margin-right: 10px; 
	
  }
  .photos-container {
	margin-left: 40px;
	background-color: #f4ebe4;
	border-radius: 10px;
	padding: 40px 40px 40px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	display: inline-block;
	 
  }
 
  .photos-container img {
	width: 310px; 
	height: 190px;
	border-radius: 20px;
	
  }
 .logo{
	width: 80px;
	height: 60px;
	border-radius: 10px;
 }
  .class{
	background-color: #c4b2a2;
	border-radius: 20px;
  }

  .custom-row {
    margin-left: 20px;
}
i{
	text-align: center;
}
.table-rounded{
	border-radius: 10px;
}
.height{
	height: 50px;
	
}
